*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
   }

  #Home,#reg{
      height: 100vh;
      width: 100%;
  }
p{
    color: white;
}

    
#section10 a{
    text-decoration: none;
    color: white;
}
.home-container{
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    padding-right:300px ;
    
}
.nav-bar h3 a{

      text-decoration: none;
    font-family: Segoe UI;
    color: #131313;
    font-weight: normal;
    font-size: 15px;
}
.nav-bar h3{
    padding: 20%;
    padding-top:20px ;
  
    margin: 0;
}
   
.top,
.bottom {
    left: 0;
    right: 0;
    height: 50%;
}

.top {
    top: 0;
   background: url(../homepage.jpg);
    background-repeat: no-repeat;
  background-size: cover;
   background-position:center;
}

.bottom {
    bottom: 0;
    background: #131313;
}
.bottom-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}
.one{
    width: 287px;
height: 287px;

}

.home-text{
    

left: 200px;


font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;

color: #FFFFFF;
}
.one,.h-bar,.home-text{
    flex: 1;
}
.h-bar{
 flex:.05;  

height: 159px;

background: #C4C4C4;
}
.home-text{
    flex: 3;
    padding-left:30px ;
    padding-right:70px ;
}

/*           home end               */
.book-container{
    height: 100vh;
    width: 100%;
    background: #131313;
    
}
.book-heading h1{
    color: #FBCD53;
    margin: 0;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    padding-left:100px ;
    padding-top: 50px;

}
.book-content{
    display:flex ;
    justify-content: center;
    padding-top: 50px;
}
.content{
    
    width: 300px;
    height: 400px;
    background-color: white;
    background: url(../citytaxi.jpg);
      background-repeat: no-repeat;
  background-size: cover;
   background-position:center;
}
.first{
    position: relative;
    padding:20px;
    
}

.buttonbt{
    position: absolute;
    background:none;
   filter: blur(.5 px);
    color: #FBCD53;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    left:90px;
    top:350px;
    border: 2px solid #FBCD53;
   
}/*-----------------------------------------------------------------*/
#type{
  height: 100vh;
  width: 100%;
}
.options{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-bar{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.logo2{
  margin-left:125px ;
  
filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.22));
 
}
.login h2{
  font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
position: absolute;
width: 67px;
height: 27px;
left: 563px;
top: 27px;
color: #FFFFFF;
 
}
/*-----------------------------------------------------------------------*/
.leftside,.rightside{
    width: 100%;
    height:100vh;
}
.leftside{
     background: #131313;
     
}
.rightside{
    background: #131313;
    
}
.ct,.out,.rent{
    background:none;
   filter: blur(.5 px);
    color: #FBCD53;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #FBCD53;
    transform: -50% -50%;

}

.logo-bar{
  width: 100%;
  height: 100px;
   background: #131313;
}
.inputz{
  width: 100%;
  height: 200px;
  align-items: center;
  
}
.ibox{
  width: 640px;
  height: 50px;
  background: rgba(196, 196, 196, 0.08);
  margin-top:10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  
  
}
.ibox input{
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    color: rgba(255, 255, 255, 0.28);
    width: 400px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    width: 70%;
    background-color: transparent;
}
.ibox label{
  font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 32px;
color: #FFFFFF;
width: 120px;

}
.taxi-img{
  width: 100%;
  height: 550px;
  background: url(../taxi.jpeg);
   background-repeat: no-repeat;
  background-size: cover;
   background-position:center;
}
/*---------------------------------------------------------------------*/

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section10{
    position: absolute;
    margin-top:50px ;
    top:670px;
}

#section10 a {
    
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*---------------------------------------------------------*/
.maindiv{
  height: 100vh;
  background-color: #131313;
  font-family: sans-serif;
  position: relative;
  padding-top: 80px;
}

.line {
 width: 1100px;
height: 2px;
margin-left: 7%;
background: #C4C4C4;
  

}
.images{
  position: relative;
}

.imgs {
  height: 250px;
  width: 550px;
  margin-left: 70px;
  margin-top: 100px; 
  
}

.head1 h1 {
  width: 75%;
  color: white;
  font-size: 40px;
  font-family: segoe "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: absolute;
  left: 50px;
 top:200px;
}
.head2 h3{
  color: white;
  font-size: 22px;
  font-family: segoe "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 50%;
  font-weight: bold;
   position: absolute;
   left: 50px;
top: 250px;
}
.writings{
  position: relative;
  margin-top: 50px;
}
.writings h3 {
  margin-left: 7%;
  
  color: rgb(200, 198, 198);
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 24px;
}




